{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>{% block title %}Add Entry{% endblock %}</title>

    <style>
        /* 기존 add.html의 에디터 높이 보장 */
        html body div.container.contact-form form.mt-5 div.ql-container.ql-snow {
            height: 300px;
        }
        body { font-family: 'Vollkorn', serif; }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'entry' %}">Diary App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-3 {% if add_highlight %}active{% endif %}" href="{% url 'productivity' %}">
                    <hr class="d-xl-none d-lg-none">
                    <img src="{% static 'icons/chart-line-solid.svg' %}" height="30" width="30" alt="Productivity Chart">
                    <span class="d-xl-none d-lg-none">&nbsp; Productivity Chart</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if add_highlight %}active{% endif %}" href="{% url 'entry' %}">
                    <img src="{% static 'icons/plus-square-solid.svg' %}" height="30" width="30" alt="Add Diaries">
                    <span class="d-xl-none d-lg-none">&nbsp; Add Diaries</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if show_highlight %}active{% endif %}" href="{% url 'show' %}">
                    <img src="{% static 'icons/book-solid.svg' %}" height="30" width="30" alt="Show Diaries">
                    <span class="d-xl-none d-lg-none">&nbsp; Show Diaries</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ subtitle }}</p>
    </div>
</div>

{% block content %}{% endblock %}


<a class="fixed-bottom" href="https://github.com/theArjun/diary-app" target="_blank">
    <button class="btn btn-light rounded text-dark float-right">
        <img class="mb-1" height="30"
             src="https://i.pinimg.com/original
